
@media only screen  and (max-width: 576px){


    .logIn_header{
        font-size: 26px;
    }

    .logIn_preHeader{
        font-size: 16px;
    }

    .logIn_section{
        padding-top: 20px;
        margin-bottom: 10px;
        margin-top: 130px;
    }


    .doc_name{
        font-size: 36px;
    }

    .supp_h{
        font-size: 30px;
    }
    .supp_h_small{
        font-size: 18px;
    }
    #contacts-h2{
        font-size: 20px;
    }

    .donate_button{
        font-size: 24px;
        padding: 10px 30px 10px 30px;
    }


    .dop_bids{
        font-size: 20px;
    }


    .card_tab{
        padding-left: 0;
        text-align: center;
    }

    .card_name{
        font-size: 20px;
    }

    .email_subscribe{
        font-size: 16px;
    }

    .index_question_header{
        font-size: 26px;
    }

    .index_answer{
        font-size: 18px;
    }

    #proceed_to_auctions{
        font-size: 20px;
    }

}

@media only screen  and (max-width: 407px) {
    .reg_input{
        width: 90%;
    }
    .reg_button{
        width: 100%;
    }

    .reg_button_div{
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .footer{
        padding-top: 39px;
        padding-bottom: 39px;
    }

    .name_auction{
        position: inherit;
        top: 20px;
        margin-bottom: 40px;
    }
}


@media only screen and (max-width: 1200px) {
    .bid_input{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px){

    .header_abzaz{
        font-size: 24px;
    }

    .text_abzaz_terms_of_use{
        font-size: 18px;
    }

    .abzaz_terms_of_use{
        margin-top: 20px;
    }

    .doc_name{
        font-size: 48px;
    }

    .doc_additional_info{
        font-size: 24px;
    }

    .terms_of_use_section{
        margin-top: 40px;
    }

    .go_back_col{
        padding-top: 50px;
    }


    .footer_links{
        padding-bottom: 8px;
        padding-top: 0;
    }
    .inst, .facebook{
        padding-top: 6px;
    }

    .contacts{
        width: 100%;
        position: inherit;
        margin-top: 50px;
        padding-left: 0;
        text-align: center;
        padding-top: 45px;
    }

    .fieldset_subscribe{
        width: 100%;
    }

    .email_subscribe{
        width: 85%;
    }

    .submit_btn_subscribe{
        width: 50%;
        margin-top: 20px;
    }

    .subscribe{
        margin-top: 56px;
    }

    .subscribe_header{
        font-size: 30px;
    }

    .subscribe_preHeader{
        font-size: 24px;
    }

    .no-results_search_header{
        font-size: 30px;
    }

    .tip{
        font-size: 18px;
    }

    .no-results_img{
        margin-top: 30px;
    }

    .legend_subscribe{
        margin-left: 30px;
    }

    .learn-more_button{
        font-size: 18px;
    }

    .index_question_header{
        font-size: 36px;
    }

    .index_answer{
        font-size: 20px;
    }

    .index_questions{
        margin-top: 100px;
    }

    .reg_input{
        font-size: 18px;
    }

    .lot_text, .terms-of-use, .question_lot, .askUs{
        font-size: 18px;
    }

    .lot_description{
        font-size: 32px;
    }
}

@media only screen and (max-width: 330px) {
    .term{
        font-size: 20px;
    }
}

@media only screen and (max-width: 992px){
    .learn-more_button{
        font-size: 20px;
    }
    .register_header{
        font-size: 36px;
    }

    .name_auction{
        font-size: 36px;
    }
}


@media only screen and (max-width: 992px) and (min-width: 768px){
    .card_name_expired{
        line-height: 41px;
    }

    .all_text_auction{
        margin-top: 0;
    }
}


@media only screen and (max-width: 1400px) and (min-width: 768px){
    .contacts{
        transform: scale(0.7);
        left: calc(0.3*(-414px)/2 + 10px);
    }
   }
